<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <!-- The only thing you have to edit here is the first sentence. Replace the years of experience and industry type with your own info. -->
        <p>With over a decade of experience as a Quality Assurance Analyst, certified DHS Trusted Tester, and nature conservation enthusiast, my career has been built on safely testing and stressing software to help engineering teams make it stronger as well as protecting what’s valuable. My expertise in root cause analysis and deep system validation transfers effectively into the cybersecurity field. My work is driven by a foundational commitment to protection—safeguarding both the precious natural and complex digital ecosystems. I apply this same proactive dedication to protection across all my work, whether that means advocating for user accessibility, preventing critical defects from reaching production, or ensuring the stability of enterprise applications. I have a proven instinct for spotting vulnerabilities that others might overlook, and I am eager to bring this investigative mindset to a security team dedicated to fortifying infrastructure and safeguarding sensitive data.
</p>
        
        <!-- This skills section already matches your resume, so no need to edit these unless you have more to add. Remember, these should be your TOP skills, not every skill! -->
        <h3>Skills & Expertise</h3>
        <p>Manual Testing - Black Box Testing - User Experience Testing - Pen Testing - Validation Testing, Test Planning - Risk Assessment - Test
Case Generation - Regression Testing - Test Automation - API Testing - UI/UX Testing - Accessibility Testing - 508 Compliance</p><br> 
          <p><strong>Languages:</strong> C#, JavaScript, Python, HTML, CSS<br>
              <strong>Tools:</strong> Jira, TestRail, Quality Center, Visual Studio, Selenium
RDP, MySQL, Google Cloud, Azure<br>
              <strong>Security Practices:</strong> Information Security, Network Security (NDR), Vulnerability Assessment, Threat Analysis (IDS/IPS), Log Analysis, Security Frameworks and Controls (NIST)<br>
              <strong>Software Platforms:</strong> Google Workspace, Microsoft Suite, Slack, ChatGPT<br>
              <strong>Strengths:</strong> Problem-Solving, Collaboration, Attention to Detail, Calmness Under Pressure <br>
              <strong>Other Background:</strong> Field Ecologist - Forest Restoration, Tech, Artist, Musician<br></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <!-- Replace the Rick Roll below with a link to your resume. Ideally this would be a pdf version, or a 'view only' version of your resume. -->
        <a href="https://sites.google.com/view/caytonova/see-portfolio/resume?authuser=0" class="btn btn-lg btn-outline resume-button">
          View Resume
        
        </a>
      </div>
    </div>
  </div>
</section>
