<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#portfolio">Portfolio</a>
        </li>
        <li class="page-scroll">
          <a href="#about">About</a>
          <li class="page-scroll">
          <a href="https://sites.google.com/u/0/sitesv-images-rt/AMxu72vm3gn1KUOIjRaKCSW90FD2hSz6rB7PJjx_VV-0I6jdyMc4ZNbcoip0FnwKn09Jw2X44C4m2YKo6W7V_Tz__wchnzSfEnjIpMv-KBNpfqXEQAdEaqgRkFH7tTcHDCnL0NVL4GSvG5Y3iaNMVX8IKOQVOb5s77RVFts7AWlaGuREQGm7qz6Fu3EScSCe1GRGWyw14EoeKohJAOAQIiCOLu_Hzi1SezAA8iLsIOGVJXE=w1280">See Certifications</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
