---
---
@import "{{ site.theme }}";

body, .page-header, .main-content {
  background-image: url('{{ site.baseurl }}/pexels-krisof-1252869.jpg') !important;
  background-color: #000000 !important;
  background-repeat: repeat !important;
}
